<footer>

    <div class="brand">
        <h1>Newsnime</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, veniam?, © Copyright 2021</p>
    </div>

    <div class="link">
        <div class="quick-link">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Terms of Service</a></li>
            </ul>
        </div>
    
        <div class="social-media">
            <small>Follow Us</small>
            <div class="social-link">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>

<script src="/scripts/hf.js"></script>
