<header>
    <div class="bars">

        <button id="bars">
            <i class="fas fa-bars"></i>
        </button>

        <div class="search-container">

            <div class="brand">
                <h2><a href="/">Newsnime</a></h2>
            </div>

            <form action="/home/search" method="POST">
                <input class="input-search" onfocus="this.value = ''" type="text" placeholder="Search...">
            </form>

        </div>

        <button id="search">
            <span><i class="fas fa-search"></i></span>
        </button>

    </div>

    <div class="bars-menu">
        <div class="top">
            <button id="times"><i class="fas fa-times"></i></button>
            <a href="/home/profile">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            </a>
        </div>

        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>

        <div class="dark-mode">
            <h4>Dark mode</h4>
            <div class="button-switch"></div>
        </div>
    </div>
</header>