<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/partials/post-content.css">
    <link rel="stylesheet" href="/stylesheets/partials/hf.css">
</head>
<body>
    <%- include('./partials/header') -%>

    <main>
        <section class="heading-info">
            <ul>
                <li><img src="https://images.unsplash.com/photo-1548438294-1ad5d5f4f063?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80" alt=""></li>
            </ul>
        </section>
        <section class="popular-post post-section">
            <div class="title">
                <h1>Populer</h1>
                <small><a href="/home/post/all/populer">show all</a></small>
            </div>
            <div class="content">
                <div class="post" onclick="window.location='home/post/article/aot';">
                    <div class="img-container">
                        <img src="https://images.unsplash.com/photo-1515041219749-89347f83291a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="">
                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="news" href="https://youtube.com">news</a>
                            <div class="post-time">20m ago</div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="chart" href="#">chart</a>
                            <div class="post-time">20m ago</div>
                        </div>
                    </div>
                </div><div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="review" href="#">review</a>
                            <div class="post-time">20m ago</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <section class="terbaru-post post-section">
            <div class="title">
                <h1>Terbaru</h1>
                <small><a href="/home/post/all/terbaru">show all</a></small>
            </div>
            <div class="content">
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="chart" href="#">chart</a>
                            <div class="post-time">20m ago</div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="chart" href="#">chart</a>
                            <div class="post-time">20m ago</div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="review" href="#">review</a>
                            <div class="post-time">20m ago</div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="news" href="#">news</a>
                            <div class="post-time">20m ago</div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="news" href="#">news</a>
                            <div class="post-time">20m ago</div>
                        </div>
                    </div>
                </div>  
            </div>
        </section>

        <section class="judul-post post-section">
            <div class="title">
                <h1>Anime title</h1>
                <small><a href="/home/post/all/judul">show all</a></small>
            </div>
            <div class="content">
                <div class="post" onclick="window.location='https://google.com';">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Attack on Titan</h5>
                        </div>
                    </div>
                </div>  
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Boruto</h5>
                        </div>
                    </div>
                </div>  
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Attack on Titan</h5>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Attack on Titan</h5>
                        </div>
                    </div>
                </div>  
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Attack on Titan</h5>
                        </div>
                    </div>
                </div> 
                <div class="post">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Attack on Titan</h5>
                        </div>
                    </div>
                </div>  
            </div>
        </section>
    </main>

    <%- include('./partials/footer') -%>
    
</body>
</html>