<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/post.css">
    <link rel="stylesheet" href="/stylesheets/partials/post-content.css">
    <link rel="stylesheet" href="/stylesheets/partials/hf.css">
    <title>Post</title>
</head>
<body>
    <%- include('./partials/header') -%>
    <main>
        <div class="category pt">
            <a class="blue" href="#">news</a>
        </div>

        <div class="title pt">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, dolores.</h1>
        </div>

        <div class="info pt">
            <small>Published from Nellow</small>
            <small>20 april 2020</small>
        </div>

        <div class="img-container-post">

        </div>

        <div class="desc pt">
            <p>Update! berita dari para pembaca manga bocoran aot season 3 mengatakan bahwa manga aot akan berakhir pada 2021 akhir mendatang.</p>
        </div>

        <div class="desc pt">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo ducimus earum temporibus illum rerum! Accusamus repellat, ipsa repudiandae nesciunt error nam itaque nobis. Voluptatum optio iusto repellat ipsum laboriosam sint iste possimus ad sequi velit reiciendis assumenda rem odit</p>
        </div>

        <div class="adv pt">

        </div>

        <div class="tag pt">
            <div>
                <small>Tag :</small>
            </div>
            <div class="tag-list">
                <a href="#">#attackontitan</a>
                <a href="#">#anime</a>
            </div>
        </div>

        <div class="share pt">
            <small>Bagikan ke :</small>
            <div class="sosial-media">
                <a href="#"><span><i class="fab fa-instagram"></i></span></a>
                <a href="#"><span><i class="fab fa-facebook-f"></i></span></a>
                <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                <a href="#"><span><i class="fab fa-whatsapp"></i></span></a>
            </div>
            
        </div>

        <div class="related-post pt">
            <h3>Article terkait</h3>
            <div class="content">
                <div class="post" onclick="window.location='https://google.com';">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="news" href="https://youtube.com">news</a>
                            <div class="post-time">20 mt ago</div>
                        </div>
                    </div>
                </div>
                <div class="post" onclick="window.location='https://google.com';">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="review" href="https://youtube.com">review</a>
                            <div class="post-time">20 mt ago</div>
                        </div>
                    </div>
                </div>
                <div class="post" onclick="window.location='https://google.com';">
                    <div class="img-container">

                    </div>
                    <div class="info-post">
                        <div class="title-post">
                            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, perferendis.</h5>
                        </div>
                        <div class="desc-post">
                            <a class="chart" href="https://youtube.com">chart</a>
                            <div class="post-time">20 mt ago</div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

        <div class="comment-cont pt">
            <h3>Comments</h3>

            <form action="">
                <textarea name="comment" id="comment" cols="30" rows="5" spellcheck="false" placeholder="Add a comment.."></textarea>
                <div class="bp">
                    <input type="text" maxlength="20" placeholder="Nama">
                    <button type="submit">Post <span><i class="fas fa-paper-plane"></i></span></button>
                </div>
            </form>

            <div class="lc-container">
                <div class="comment">
                    <div class="pp">
                        <div class="img-container">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="info-comment">
                        <p> <strong class="name">Angga</strong> Perasaan kemarin udah dijeda masa di jeda lagi sih Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat molestiae ea cumque recusandae debitis expedita earum sapiente doloribus corrupti eos!</p>

                        <div class="respond-comment">
                            <div class="like">
                                <button><span><i class="far fa-thumbs-up"></i></span> 20</button>
                            </div>
                            <div class="feedback">
                                <button>Balas</button>
                            </div>
                            <div class="time">
                                <small>18 menit</small>
                            </div>
                        </div>

                        <div class="responded-cont">
                            <div class="comment">
                                <div class="pp">
                                    <div class="img-container">
                                        <img src="" alt="">
                                    </div>
                                </div>
                                <div class="info-comment">
                                    <p> <strong class="name">Ema</strong> Iya kemarin udah dijeda cuman diperpanjang lagi</p>
            
                                    <div class="respond-comment">
                                        <div class="like">
                                            <button><span><i class="far fa-thumbs-up"></i></span> 20</button>
                                        </div>
                                        <div class="feedback">
                                            <button>Balas</button>
                                        </div>
                                        <div class="time">
                                            <small>18 menit</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment">
                    <div class="pp">
                        <div class="img-container">
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="info-comment">
                        <p> <strong class="name">Angga</strong> Perasaan kemarin udah dijeda masa di jeda lagi sih Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat molestiae ea cumque recusandae debitis expedita earum sapiente doloribus corrupti eos!</p>

                        <div class="respond-comment">
                            <div class="like">
                                <button><span><i class="far fa-thumbs-up"></i></span> 20</button>
                            </div>
                            <div class="feedback">
                                <button>Balas</button>
                            </div>
                            <div class="time">
                                <small>18 menit</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <%- include('./partials/footer') -%>
</body>
</html>